// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.carousel{
  margin-bottom: 30px;
  padding-bottom: 40px;
  background: #c2c2c2;
  .carousel-indicators{
    bottom: 0px;
    li{
      width: 1.5rem;
      height: 1rem;
      margin:0 10px;
    }
  }
  .carousel-inner{
    text-align: center;
    .carousel-item{
      text-align: center;
      .slide-image{
        margin-left: auto;
        margin-right: auto;
        position: relative;
        width: 500px;
        height: 300px;
        img{
          width: 500px;
          height: 300px;
        }
        .title-wrap{
          position: absolute;
          bottom: 0;
          left: 0;
          font-size: 1.5rem;
          margin-left: auto;
          text-align: center;
          background: rgba(#2f2f2f, 0.66);
          width: 500px;
          padding: 30px;
        }
      }
    }
  }
}
.card{
  margin-top: 20px;
  filter: drop-shadow(5px 5px rgb(199, 199, 199));
  transition: .3s;
  &:hover{
    filter: drop-shadow(5px 5px 15px rgb(199, 199, 199));
    transition: .3s;
    transform: translate(-5px,-5px);
  }
  .image-box{
    overflow: hidden;
  }
  .card-body{
    position: relative;

    .inner{
      height: 10rem;
      overflow: hidden;
      a{
        color: black;
      }
    }

    .publish-time-wrap{
      width: 90%;
      position: absolute;
      bottom: 0px;
      overflow: hidden;
      background: white;
      border-top: 1px dotted rgb(135, 132, 135);
      padding: 10px;
      text-align: right;
      color: rgb(135, 132, 135);
    }
  }


}
.archive-wrap{
  padding: 20px;
  padding-bottom: 0;
  .icon-publish{
    text-align: right;
    margin-bottom: 10px;
    .clock{
      margin-right: 5px;
    }
  }

  .icon-tag{
    .tag-badge{
      a{
        color: white;
      }
    }
  }
  .content-wrap{
    p{
      line-height: 1.7rem;
    }
    .thumb-container{
      display: flex;
      justify-content: center;
      img{
        margin-bottom: 1.5rem;
      }
    }
  }
  .col-sm-12{
    padding: 0;
    .post-footer{
      background: rgb(212, 211, 212);
      .fas{
        margin-left: 20px;
        margin-right: 10px;
      }
    }
  }
}
.pagination{
  justify-content: center;
  padding-bottom: 1rem;
  margin: 0;
}
